body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141721;
}

#headerText {
  margin-top: 50px;
  color: #c9c9c9;
}

#appContainer {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#passwordTextContainer {
  width: 100%;
  padding-right: 25px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#passwordText:empty::before {
  color: grey;
}

#passwordText[data-placeholder]:not([data-placeholder=""]):empty::before {
  content: attr(data-placeholder);
}

#passwordText:empty::before {
  content: "fallback placeholder";
}

#passwordText {
  cursor: copy;
  max-width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  font-size: 40px;
  margin: 0;
  color: white;
  padding: 15px 0 15px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#passwordCopyImg {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("public/contentImg.svg");
  -webkit-filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(7321%) hue-rotate(162deg) brightness(104%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(7321%) hue-rotate(162deg) brightness(104%) contrast(101%);
}

#passwordSettingsContainer {
  margin-top: 20px;
  border-radius: 3px;
  background-color: #333333;
  font-size: 28px;
  padding: 20px 30px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#passwordLengthContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#passwordLengthTitleText {
  color: white;
  margin: 0;
}

#passwordLengthText {
  color: #96f8ff;
  font-size: 40px;
  margin: 0;
}

#lengthSlider {
  width: 100%;
  margin: 0;
}

.checkBoxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.checkBox {
  width: 25px;
  height: 25px;
  margin: 15px 15px 15px 0;
  cursor: pointer;
}

.checkBoxText {
  margin: 0;
  color: white;
  font-weight: 600;
}

#passwordStrengthContainer {
  background-color: #15171f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 25px;
  margin: 15px 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#strengthMainText {
  font-size: 20px;
  font-weight: 600;
  color: #a3a3a3;
  text-transform: uppercase;
}

#strengthScaleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#strengthText {
  text-transform: uppercase;
  margin: 0 10px 0 0;
  color: white;
  font-weight: 800;
  font-size: 25px;
}

#strengthNodesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strengthNode {
  border: 3px solid white;
  background-color: transparent;
  width: 7px;
  height: 35px;
  margin: 0 7px;
}

#passwordGenerateButton {
  cursor: pointer;
  background-color: #65f772;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  margin: 30px 0 10px 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#passwordGenerateButton:hover {
  opacity: 0.7;
}

#generateButtonText {
  margin: 0 5px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

#generateArrowButton {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("public/arrowImg.svg");
}

@media (max-width: 600px) {
  #appContainer {
    width: 95%;
  }
  #headerText {
    font-size: 25px;
  }
  #passwordTextContainer {
    padding-right: 20px;
  }
  #passwordText {
    font-size: 30px;
    padding-left: 20px;
  }
  #passwordSettingsContainer {
    padding: 15px 20px;
  }
  #passwordLengthTitleText {
    font-size: 25px;
    white-space: nowrap;
  }
  #passwordLengthText {
    font-size: 35px;
  }
  #lengthSlider {
    margin: 20px 0 10px 0;
  }
  .checkBoxText {
    font-size: 16px;
  }
  .checkBox {
    background-color: aqua;
  }
  #passwordStrengthContainer {
    padding: 5px 10px;
  }
  #strengthMainText {
    font-size: 16px;
  }
  #strengthText {
    font-size: 15px;
    margin-right: 5px;
    text-align: right;
  }
}
/*# sourceMappingURL=styles.css.map */