$bg-dark: #333333;
$blue-light: #96f8ff;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141721;
}

#headerText {
  margin-top: 50px;
  color: #c9c9c9;
}

#appContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
}

#passwordTextContainer {
  width: 100%;
  padding-right: 25px;
  background-color: $bg-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#passwordText:empty::before {
  color: grey;
}

#passwordText[data-placeholder]:not([data-placeholder=""]):empty::before {
  content: attr(data-placeholder);
}

#passwordText:empty::before {
  content: "fallback placeholder";
}

#passwordText {
  cursor: copy;
  max-width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  font-size: 40px;
  margin: 0;
  color: white;
  padding: 15px 0 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#passwordCopyImg {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("public/contentImg.svg");
  // background-color: pink;
  filter: brightness(0) saturate(100%) invert(99%) sepia(37%) saturate(7321%) hue-rotate(162deg) brightness(104%) contrast(101%);
}

#passwordSettingsContainer {
  margin-top: 20px;
  border-radius: 3px;
  background-color: $bg-dark;
  font-size: 28px;
  padding: 20px 30px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#passwordLengthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#passwordLengthTitleText {
  color: white;
  margin: 0;
}

#passwordLengthText {
  color: $blue-light;
  font-size: 40px;
  margin: 0;
}

#passwordLengthSlider {
}

#lengthSlider {
  width: 100%;
  margin: 0;
}

#passwordSettingsCheckBoxes {
}

.checkBoxContainer {
  display: flex;
  align-items: center;
  margin: 0;
}

.checkBox {
  width: 25px;
  height: 25px;
  margin: 15px 15px 15px 0;
  cursor: pointer;
}

.checkBoxText {
  margin: 0;
  color: white;
  font-weight: 600;
}

#passwordStrengthContainer {
  background-color: #15171f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 25px;
  margin: 15px 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#strengthMainText {
  font-size: 20px;
  font-weight: 600;
  color: #a3a3a3;
  text-transform: uppercase;
}

#strengthScaleContainer {
  display: flex;
}

#strengthText {
}

#strengthNodesContainer {
  display: flex;
  align-items: center;
}

.strengthNode {
  border: 3px solid white;
  width: 7px;
  height: 35px;
  margin: 0 7px;
}

#passwordGenerateButton {
  cursor: pointer;
  background-color: #65f772;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin: 30px 0 10px 0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#passwordGenerateButton:hover {
  opacity: 0.7;
}

#generateButtonText {
  margin: 0 5px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

#generateArrowButton {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("public/arrowImg.svg");
}
